body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

.cards {
  margin-top: 30px;
  width: 350px;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cards .imgc {
  width: 100%;
  border-radius: 8px;
}

.carfunc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: rgb(58, 58, 58);
  font-weight: 500;
}

.carfunc li {
  list-style: none;
  margin-bottom: 10px;
}

.carfunc li span {
  color: rgb(53, 247, 53);
}

.caroption ul {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  gap: 10px;
  list-style: none;
}
.book-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.book-btn button{
  width: 50%;
  padding: 5px;
  border-radius: 8px;
  border: 1px;
  background-color: rgb(52, 250, 250);
  color: white;
  font-weight: 900;
  font-size:medium;
  cursor: pointer;
}
.parrents{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}